# Build dependencies
setuptools

# Runtime dependencies
fastapi
uvicorn
SQLAlchemy
sqlmodel
databases[postgresql]
python-dotenv
psycopg2-binary
passlib[bcrypt]

# Test dependencies
pytest
factory_boy
httpx
pytest-describe
pydantic[email]

# Code coverage dependencies
coverage
pytest-cov

# Code quality dependencies
flake8
black
isort